body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculator {
    display: flex;
    flex-direction: column;
    width: 200px;
}
#display_container {
    height: 30px;
    border: 1px solid black;
}
#display_num {
    font-size: 20px;
    margin: 5px;
    text-align: right;
}
#display {
    border: 1px solid black;
    text-align: right;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 50px;
    padding: 0;
    height: 30px;
    font-weight: bold;
}