body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculator {
    display: flex;
    flex-direction: column;
    width: 200px;
}
#display {
    height: 30px;
}
#display {
    border: 1px solid black;
    text-align: right;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 50px;
    padding: 0;
    height: 30px;
}